# dependencies
website/node_modules
website/.pnp
website/.pnp.js

# testing
website/coverage

# next.js
website/.next/
website/out/

# production
website/build

# misc
website/.DS_Store
website/*.pem

# debug
website/npm-debug.log*
website/yarn-debug.log*
website/yarn-error.log*

# local env files
website/.env.local
website/.env.development.local
website/.env.test.local
website/.env.production.local

# vercel
website/.vercel